# Environments & Credentials
# --------------------------
# Virtual environment folders
/venv/
/env/
/.venv/
/.env/

# Environment variables file
.env

# Custom model and environment folders/files
.stcmodel
stcmodel
stc_model_env
/stcmodel/
.stc_model_env
/stc_model_env/
clinical_bigbird_symptom_classifier/

# Data, Models & Checkpoints
# --------------------------
# Data and model directories
/data/
/datasets/
/models/
/checkpoints/
.artifacts/
/artifacts/

# Model file extensions
*.pkl
*.pickle
*.h5
*.pth
*.pt
*.pb
*.onnx
*.joblib

# Python Caches & Artifacts
# --------------------------
__pycache__/
*.py[cod]
.pytest_cache/
.mypy_cache/
.cache/
/build/
/dist/
*.egg-info/

# Logs & Experiment Tracking
# --------------------------
*.log
/logs/
/mlruns/
/runs/

# IDE & Notebooks
# --------------------------
# VSCode, PyCharm, etc.
.idea/
.vscode/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# OS-specific
# --------------------------
.DS_Store
Thumbs.db